<input type="file" name="<%= field %>"/>
<input type="hidden" id="<%= field %>_x" name="<%= field %>_x" value="">
<input type="hidden" id="<%= field %>_y" name="<%= field %>_y" value="">
<input type="hidden" id="<%= field %>_x2" name="<%= field %>_x2" value="">
<input type="hidden" id="<%= field %>_y2" name="<%= field %>_y2" value="">
<input type="hidden" id="<%= field %>_w" name="<%= field %>_w" value="">
<input type="hidden" id="<%= field %>_h" name="<%= field %>_h" value="">
<input type="hidden" id="<%= field %>_sw" name="<%= field %>_sw" value="">
<input type="hidden" id="<%= field %>_sh" name="<%= field %>_sh" value="">

<div data-role="crop-modal-container">
  <!-- backbone crop modal view -->
</div>
