<div class="modal fade cvv2" id="myModal_card" tabindex="1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-role="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    A three- or four digit code on your credit card, separate from the 16-digit card number. The location varies slightly depending on your type of card: 
                </p>

                <img src="img/svv2.png" alt="cvv2" />
            </div>
        </div>
    </div>
</div>