<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-10">
        <div class="description-list">
            <span><%= model.get('name') %> </span>&nbsp;- With <%= model.get('exercises').length %> Exercises items.
        </div>
        <span class="help">Approx <%= Helpers.getCalories(model.get('exercises')) %> Cal Burns</span>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-1">
        <a href='#' class="view" data-role="view-list">View</a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-1">
        <a href='#' class="delete" data-role="remove"></a> 
    </div>
</div>