<div id="personalinfo">

    <h2 class="title-page text-green">now, let's get to know each other!</h2>
    <h5 class="subtitle-page">Help Qalorie to tailor your fitness and nutrition experience</h5>

    <div class="box-centered box-large">

        <h5 class="title-info">Personal Information</h5>

        <div class="row">
            <div class="col-sm-6">

                <div class="flexslider" id='weather'>
                    <ul class="slides">
                        <li data-value='cold'>
                            <img src="img/weather/cold.png" alt='' />
                            <h3 class="first">Cold Weather</h3>
                            <div class="circle">
                                <img src="img/weather/icon-cold_weather.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                        <li data-value='temperate'>
                            <img src="img/weather/temperate.png" alt='' />
                            <h3 class="second">Temperate Weather</h3>
                            <div class="circle">
                                <img src="img/weather/icon-temperate_weather.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                        <li data-value='warm'>
                            <img src="img/weather/warm.png" alt='' />
                            <h3 class="third">Warm Weather</h3>
                            <div class="circle">
                                <img src="img/weather/icon-warm_weather.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                        <li data-value='hot'>
                            <img src="img/weather/hot.png" alt='' />
                            <h3 class="fourth">Hot Weather</h3>
                            <div class="circle">
                                <img src="img/weather/icon-hot_weather.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-6">

                <div class="flexslider" id='activity'>
                    <ul class="slides">
                        <li data-value='sedentary'>
                            <img src="img/activity/sedentary.png" alt='' />
                            <h3 class="first">Sedentary - 0 to 2 Days/Week</h3>
                            <div class="circle">
                                <img src="img/activity/icon-sedentary.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                        <li data-value='light'>
                            <img src="img/activity/lightactive.png" alt='' />
                            <h3 class="fourth">Light Active - 2 to 3 Days/Week</h3>
                            <div class="circle">
                                <img src="img/activity/icon-light_activity.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                        <li data-value='active'>
                            <img src="img/activity/active.png" alt='' />
                            <h3 class="third">Active - 3 to 5 Days/Week</h3>
                            <div class="circle">
                                <img src="img/activity/icon-active_activity.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                        <li data-value='very_active'>
                            <img src="img/activity/veryactive.png" alt='' />
                            <h3 class="second">Very Active - 5 to 7 Days/Week</h3>
                            <div class="circle">
                                <img src="img/activity/icon-ok_activity.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">

                <div class="flexslider" id='workout'>
                    <ul class="slides">
                        <li data-value='15'>
                            <img src="img/workout/9_15.png" alt='' />
                            <h3 class="first">15 Minutes Workout</h3>
                            <div class="circle">
                                <img src="img/workout/icon-15_workout.png" alt="" />
                            </div>
                        <div class="block"></div>
                        </li>
                        <li data-value='30'>
                            <img src="img/workout/10_30.png" alt='' />
                            <h3 class="second">30 Minutes Workout</h3>
                            <div class="circle">
                                <img src="img/workout/icon-30_workout.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                        <li data-value='45'>
                            <img src="img/workout/11_45.png" alt='' />
                            <h3 class="third">45 Minutes Workout</h3>
                            <div class="circle">
                                <img src="img/workout/icon-45_workout.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                        <li data-value='60'>
                            <img src="img/workout/12_60.png" alt='' />
                            <h3 class="fourth">60 Minutes Workout or More!</h3>
                            <div class="circle">
                                <img src="img/workout/icon-60_workout.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-sm-6">

                <div class="flexslider" id='maintain'>
                    <ul class="slides">
                        <li data-value='lose'>
                            <img src="img/weightgoal/lose.png" alt='' />
                            <h3 class="first">Lose Weight</h3>
                            <div class="circle">
                                <img src="img/weightgoal/icon-lose_weight.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                        <li data-value='maintain'>
                            <img src="img/weightgoal/maintain.png" alt='' />
                            <h3 class="second">Maintain Weight</h3>
                            <div class="circle">
                                <img src="img/weightgoal/icon-maintain_weight.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                        <li data-value='gain'>
                            <img src="img/weightgoal/gain.png" alt='' />
                            <h3 class="fourth">Gain Weight</h3>
                            <div class="circle">
                                <img src="img/weightgoal/icon-gain_weight.png" alt="" />
                            </div>
                            <div class="block"></div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="box-down-foot">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn-green-open mrg-no" id="next-step">next</button>
                </div>
            </div>
        </div>

    </div>

</div>