<div id="suggestions">
    <h2 class="title-page text-green">this is what qalorie suggest for start</h2>
    <h5 class="subtitle-page">A journey towards healthy living starts right here, right now !</h5>

    <div class="main_container">
        <div class="row">

            <div class="col-sm-4 col-md-4">
                <div class="panel-box box-suggest">
                    <h5 class="title-suggest text-green">Calorie Intake</h5>
                    <img src="img/sug-food.png" alt="Qalorie Intake" class="img-suggest" />
                    <p class="description-suggest">Calorie Recommendations</p>
                    <h3 class="suggest-values text-green" id="caloriesPerDay">1860 <span>Cals/día</span></h3>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="panel-box box-suggest">
                    <h5 class="title-suggest text-green">Water Consumption</h5>
                    <img src="img/sug-water.png" alt="Qalorie - water consumption" class="img-suggest" />
                    <p class="description-suggest">Water Recommendations</p>
                    <h3 class="suggest-values text-green" id="waterConsummePerDay">2.8 Lt/ <span>12 Glasses of Water</span></h3>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="panel-box box-suggest">
                    <h5 class="title-suggest text-green">Daily Exercise Time</h5>
                    <img src="img/sug-exercise.png" alt="Qalorie - Daily Exercise Time" class="img-suggest" />
                    <p class="description-suggest">Activities Recommendations</p>
                    <h3 class="suggest-values text-green" id="excerciseRecommended">1.5h/ <span>Exercise per day</span></h3>
                </div>
            </div>

        </div>
        
        <div class="panel-box box_bottom_suggest">
            <div class="row">
                <div class="col-sm-6 text-left hidden-xs">
                    <p>
                        Start achieving your goals, go to Dashboard!
                    </p>
                </div>
                <div class="col-sm-6 text-right">
                    <button type="button" class="btn-transparent mrg-no" id="go-back">back</button>
                    <a href="#" class="btn-blue-open btn-medium mrg-no" id="go-dashboard">
                        go to dashboard
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>