{% extends "base.html" %}

  {%block styles%}
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  {%endblock%}

{%block scripts%}
{% parent %}
  <script type="text/javascript" src="/js/signup.js"></script>
  <script>
      $( document ).ready(function() {
       
       $("#sendEmail").click(function(event){
        $.ajax({
            url: '/api/v1/recovery/password',
            type: 'post',
            data: {
              email_user:$("#email_user").val()
            },
            dataType: 'json',
            success: function(data) {
                //alert(data);
                window.location="/email_sent?email=" + $("#email_user").val()
            },
            error: function(xhr, error) {
                $("#messageContainerError").show(); 
                $("#messageContainerError").empty();
                $("#messageContainerError").append(xhr.responseJSON.message);
                $("#email_user").addClass('error');
            }
        });

       }); 

      });
  </script>
{%endblock%}

{% block layout %}

        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="logo-head">
                            <a href="/" title="Qalorie">
                                <img src="/img/qalorie_logo_pixel.svg" height="40" onerror="this.onerror=null; this.src='/img/logo.png'" alt"Qalorie" />
                            </a>
                        </div>                                                
                        <div class="pull-right ">
                            <p>New to Qalorie?</p>
                            <a href="/signup" class="btn-green-open btn-large mg-header-login">create account</a>
                        </div>                                                    
                        
                    </div>                    
                </div>
            </div>
        </header>
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        
                        <h2 class="title-page text-green">forgot password</h2>
                        <h5 class="subtitle-page">Allow us to recover your password</h5>
          
                        <div class="box-centered">
                                                            
                            <p class="description-box">
                                Enter the email address you used to register your Qalorie account. We will send you an email with instructions to reset your password.
                            </p>

                            <form class="form-login" method="POST">

                                <div class="form-group"> 
                                    <label class="lb-normal" for="email_user">enter your email</label>
                                    <input type="text" id="email_user" class="form-control" name="email_user" autocomplete="off" />
                                    <label id="messageContainerError" class="error">
                                    </label>
                                </div>
                                <div class="form-group text-right"> 
                                    <button id="sendEmail" type="button" class="btn-green-open mg-form-login">submit</button>
                                </div>
                            </form>
                            
                        </div>                            
                        
                    </div>
                </div>
            </div>
        </section>
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-0 col-sm-9 col-md-offset-1 col-md-7">
                        <div class="text-left">
                            <p class="upper">
                                Copyright © 2016 Qalorie™, Inc. All Rights Reserved.
                            </p>
                            <ul class="breadcrumb ">
                                <li><a href="/terms">Terms of Use</a></li>
                                <li><a href="/privacy-policy">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="text-right">
                            <p>
                                <a href="/" title="">
                                    <img src="/img/qalorie_logo_pixel.svg" height="40" onerror="this.onerror=null; this.src='/img/logo.png'" alt"Qalorie" />
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

{% endblock layout %}
