{% extends "base.html" %}

  {%block styles%}
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  {%endblock%}

{%block scripts%}
{% parent %}
  <script type="text/javascript" src="/js/signup.js"></script>
  <script>

      var userId="{{userId}}"; 
      $( document ).ready(function() {

        $("#resetPassword").click(function(e){
            $.ajax({
                url: '/api/v1/reset/password',
                type: 'post',
                data: {
                  userId:userId,
                  password:$("#newpassword").val()
                },
                dataType: 'json',
                success: function(data) {
                    window.location="/login";
                },
                error: function(xhr, error) {
                    $("#messageContainerError").show(); 
                    $("#messageContainerError").empty();
                    $("#messageContainerError").append(xhr.responseJSON.message);
                }
            });
        });
 
      });

  </script>
{%endblock%}

{% block layout %}

        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="logo-head">
                            <a href="/" title="Qalorie">
                                <img src="/img/qalorie_logo_pixel.svg" height="40" onerror="this.onerror=null; this.src='/img/logo.png'" alt"Qalorie" />
                            </a>
                        </div>
                                                                            
                        <div class="pull-right ">
                            <p>Already have an account?</p>
                            <a href="/login" class="btn-green-open btn-large mg-header-login">login</a>
                        </div>                                                   
                        
                    </div>                    
                </div>
            </div>
        </header>
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        
                        <h2 class="title-page text-green">reset password</h2>
                        <h5 class="subtitle-page">
                            Lorem ipsum dolor sit amet,  eros sit amet iaculis sagittis, di, scelerisque.
                        </h5>  
                        <div class="box-centered">    

                            <p class="description-box">Strong passwords include numbers, letters, and punctuation marks:</p>

                            <form class="form-login" action="login.html" method="POST">
                                <div class="form-group"> 
                                    <label class="lb-normal" for="newpassword">type new password</label>
                                    <input type="password" id="newpassword" class="form-control" name="newpassword" autocomplete="off" />
                                </div> 
                                <div class="form-group"> 
                                    <label class="lb-normal" for="repeatpassword">repeat your new password</label>
                                    <input type="password" id="repeatpassword" class="form-control" name="repeatpassword" autocomplete="off" />
                                    <label id="messageContainerError" class="error different"></label>
                                </div>
                                <div class="form-group text-right">
                                    <button id="resetPassword" type="button" class="btn-green-open mg-form-login">submit</button>
                                </div>
                            </form>
                            
                        </div>                            
                        
                    </div>
                </div>
            </div>
        </section>
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-0 col-sm-9 col-md-offset-1 col-md-7">
                        <div class="text-left">
                            <p class="upper">
                                Copyright © 2016 Qalorie™, Inc. All Rights Reserved.
                            </p>
                            <ul class="breadcrumb ">
                                <li><a href="/terms">Terms of Use</a></li>
                                <li><a href="/privacy-policy">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="text-right">
                            <p>
                                <a href="/" title="">
                                    <img src="/img/qalorie_logo_pixel.svg" height="40" onerror="this.onerror=null; this.src='/img/logo.png'" alt"Qalorie" />
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

{% endblock layout %}