<div class="row">
	<div class="col-xs-2 col-sm-1 pd-right_0">
		<div class="ratings">
		  	<input tabindex="5" type="checkbox" id="icheckbox_futurico-1" <%= Helpers.checkedIfUserFoodLogFavorites(model, favorites) %>>
		</div>
	</div>
	<div class="col-xs-8 col-sm-10 pd-left_0">
		<span class="added-description"><%= Helpers.truncateString(model.get('food_detail').description, 65) %></span>
		<span class="help recent"><%= model.get('servings') %> servings of <%= model.get('serving_type') %></span>
	</div>
	<div class="col-xs-2 col-sm-1 pd-left_0">
		<a href='' class="adds" data-role="add-servings">add</a>
	</div>
</div>