<div class="row">
	<div class="col-xs-10 col-sm-10">
		<p class="saved-list">
			<span class="green"><%= model.escape('name') %></span>&nbsp;- <%= Helpers.truncateString(model.escape('description'), 150) %>
		</p>
		<span class="help"><%= Helpers.listCalories(model) %></span>
	</div>
	<div class="col-xs-1 col-sm-1 pd-left_0">
		<a href="#" class="view" data-role="view-list">View</a>
	</div>
	<div class="col-xs-1 col-sm-1 pd-left_0">
		<a href="#" class="delete" data-role="remove"></a>
	</div>
</div>