<ul class="nav navbar-nav">
  <li class="active">
    <a href="/" class="route" data-role="route" title="" id="">
      <span class="icon-dashboard"></span>dashboard
    </a>
  </li>
  <li>
    <a href="/patients" class="route" data-role="route" title="" id="patients">
      <span class="icon-patients"></span>patients
    </a>
  </li>
  <li>
    <a href="/calendar" class="route" data-role="route" title="" id="calendar">
      <span class="icon-calendar"></span>calendar
    </a>
  </li>
  <li>
    <a href="/inbox" class="route" data-role="route" title="" id="inbox">
      <span class="icon-inbox"></span>inbox
    </a>
  </li>
  <li>
    <a href="/reports" class="route" data-role="route" title="" id="reports">
      <span class="icon-reports"></span>reports</a>
    </li>
</ul>
