
<ul class="nav nav-sidebar" data-role="menu">
  <!-- <li data-href="contacts"><a href="/contacts" data-role="route">Contacts</a></li> -->
    <li data-href="">
        <a href="/" class="route" data-role="route" title="" id="dashboard">
            <span class="icon-dashboard"></span>
            dashboard
        </a>
    </li>
    <li data-href="status">
        <a href="/status"  class="route" data-role="route" title="" id="status">
            <span class="icon-status"></span>
            status
        </a>
    </li>
    <li data-href="progress">
        <a href="/progress"  class="route" data-role="route" title="" id="progress">
            <span class="icon-progress"></span>
            progress
        </a>
    </li>
    <li data-href="food">
        <a href="/food" class="route" data-role="route" title="" id="food">
            <span class="icon-food"></span>
            food
        </a>
    </li>
    <li data-href="exercises">
        <a href="/exercises" class="route" data-role="route" title="" id="exercises">
            <span class="icon-exercises"></span>
            exercises
        </a>
    </li>
    <li data-href="nutritionist">
        <a href="/nutritionist" class="route" data-role="route" title="" id="nutritionist">
            <span class="icon-nutrisionist"></span>
            nutritionist
        </a>
    </li>
</ul>